@inherits FluxorComponent
@using MudBlazorDemo.Client.Features.Counter.Store

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">
        Counter (@CounterState.Value.CurrentCount)
    </MudNavLink>
    <MudNavLink Href="weather" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List"><span class="@WeatherItemClass">Weather</span></MudNavLink>
    <MudNavLink Href="feedback" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Feedback">Feedback</MudNavLink>
</MudNavMenu>


